body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    text-align: center;
}

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

        nav a:hover, .active {
            text-decoration: underline;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 5px;
        }
        
        nav a.active {
            text-decoration: underline;
        }
        
        nav a:hover {
            color: #ddd; /* Vagy bármilyen más hover szín */
        }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#content {
    margin: 20px;
}
